/* Body Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #888888;
}
::-webkit-scrollbar-thumb {
    background: #cccccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* Print */
@media print {
	body {
		zoom: 75%;
		background:#FFF !important;
	}
	.text-light { color:#000 !important; }
	.pH { display: none !important; }
}


body{
	font-family: 'Inter', sans-serif !important;
	font-feature-settings: 'ss04' on;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: #E4E2E6;
	background-color:#131316 !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
.row { --mdb-gutter-x: .5rem !important; }
ul#swpc-alerts-affected-posts {
	list-style: none;
	padding-inline-start: 0px;
	margin-top:0px;
	margin-bottom:0px;
}
ul#swpc-alerts-affected-posts li {
	display: inline;
}
ul#swpc-alerts-affected-posts li:not(:last-child):after {
	content: "; ";
}

/* Global Footprint */
ul#global-footprint-posts.suspended-operations-style {
    column-count: 3;
    list-style: none;
    padding-inline-start: 0px;
}

/* Travel Advisories */
ul#travel-advisories{
	list-style: none;
	padding-inline-start: 0px;
	margin-top:0px;
	margin-bottom:0px;
	display:inline;
}
ul#travel-advisories li {
	display: inline;
	padding-left:10px;
}
ul#travel-advisories li:not(:last-child):after { content: " "; }
.travel-advisory-one {
	color:#5A8CFF;
	transform:rotate(-90deg);
}
.travel-advisory-two {
	color:#B0D500;
	transform:rotate(-90deg);
}
.travel-advisory-three {
	color:#ED9742;
	transform:rotate(-90deg);
}
.travel-advisory-four {
	color:#FF5449;
	transform:rotate(-90deg);
}

/* Post Departures */
ul#post-departures {
	list-style: none;
	padding-inline-start: 0px;
	margin-top:0px;
	margin-bottom:0px;
}
ul#post-departures li {
	display: inline;
	padding-left:10px;
}
ul#post-departures li:not(:last-child):after { content: "; "; }


ul#eacs-today, #eacs-older, #sitreps-today, #sitreps-older, #safe-alerts {
	list-style: none;
	padding-inline-start: 0px;
}
#eacs li {
	border-top:1px solid #757575;
	padding:3px 0px 3px 0px;
}
#safe-alerts li {
	border-top:1px solid #757575;
	padding:3px 0px 3px 0px;
}
#sitReps li {
	border-top:1px solid #757575;
	padding:3px 0px 3px 0px;
}
#preloader {
	background:#000;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.block-with-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
}
.four-lines-max {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
}
.accordionHeaderColour {
	background-color:#3f465b !important;
}
.accordionBodyColour {
	background-color:#23242b !important;
}
.btn-custom {
	background-color: #23242b !important;
	border: 1px solid #8F9099 !important;
	color: #fff !important;
	margin-top: 0px !important;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom {
	background-color: #404659 !important;
	border-color: 1px solid #404659;
	color: #fff !important;
}
.navbar .nav-item .nav-link:hover { color: #88A9FF !important; }
.navbar .nav-item .nav-link:focus { color: #FFF !important; }
.navbar-nav .nav-link.active { color: #88A9FF !important; font-weight: bold; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    border-color: #3b71ca;
    background-color: #404659;
}
.dropdown-menu {
	color:#fff;
	background-color:#23242b;
}
.nav-pills .nav-link {
	--mdb-nav-pills-linked-border-radius: 0.5rem;
	--mdb-nav-pills-link-font-size: 14px;
	--mdb-nav-pills-link-padding-top: 6px;
	--mdb-nav-pills-link-padding-bottom: 6px;
	--mdb-nav-pills-link-padding-x: 16px;
	--mdb-nav-pills-margin: 0.125rem;
	text-transform: none;
}
.bgColour {
	background-color:#1b1b1f !important;
}
.gridjs-pagination {
	color:#fff;
}
ul#agencies {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
#core-container ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
.dual-column-style ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.leaflet-control-attribution {
	background:rgp(0,0,0 / 0%);
}
.single-line {
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}
.line-item {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.category {
  color: #E4E2E6;
}
.trunk {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.timestamp {
  color: #E4E2E6;
}
.card-header:first-child { border-radius: 1.5rem; border-bottom:0; margin-top:0.5rem; }
.card-footer:last-child { border-radius: 0rem 0rem 1.5rem 1.5rem; }
.card { border-radius: 1.5rem; box-shadow:none; }
.nav-tabs {margin-left: 0.125rem;}
.containerBox {
    position: relative;
    display: inline-block;
	width:500px;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.containerBox img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { border-radius: 4px 4px 0 0; }
.geocoder-control-suggestions { color:#000 !important; }
.geocoder-control-suggestion:hover{ 
	color:#fff !important;
	background:#404659 !important;
	border-color:#404659 !important;
}
.comma-separated-ul {
	list-style: none;
	padding-inline-start: 0px;
	margin-top:0px;
	margin-bottom:0px;
}
.comma-separated-ul li {
	display: inline;
}
.comma-separated-ul li:not(:last-child):after {
	content: ", ";
}
a.link-stealth:link {
	color:#e4e2e6 !important;
}
a.link-stealth:hover {
	color:#8babe0 !important;
}
a.link-stealth:visited {
	color:#e4e2e6 !important;
}
.three-rows-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}
.geocoder-control-suggestions { color:#000 !important; }
.geocoder-control-suggestion:hover{ 
	color:#fff !important;
	background:#404659 !important;
	border-color:#404659 !important;
}
.nav-tabs .nav-link.active {
	display:flex;
	align-items:center;
}
.leaflet-control-zoom-in {
	background-color: #23242b !important;
}
.leaflet-control-zoom-out {
	background-color: #23242b !important;
}
.polyline-measure-unicode-icon {
	background-color: #23242b !important;
}
#unitControlId {
	background-color: #23242b !important;
}
.leaflet-bar a {
	border-color: hsla(0,0%,100%,.12)!important;
}
.leaflet-control-layers-toggle {
	background-color: #23242b !important;
}
.leaflet-control-layers-expanded {
	background-color: #23242b !important;
}
.leaflet-control-layers-overlays {
	background-color: #23242b !important;
	color: #ffffff !important;
}
.geocoder-control-input {
	background-color: #23242b !important;
	color:#fff;
}
.post:hover {
	background-color: #404659;
	border-radius:0.5rem;
}
a.link-stealth:hover {
	color:#8babe0 !important;
}
.two-line-text {
    height: 2.6em; /* adjust the height to fit two lines */
    overflow: hidden;
    text-overflow: ellipsis; /* add "..." to indicate truncated text */
 }
.three-rows-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}
.iconExtraClass {margin-top: .75rem !important;}
	.comma-separated-ul {
	list-style: none;
	padding-inline-start: 0px;
	margin-top:0px;
	margin-bottom:0px;
}
.comma-separated-ul li {
	display: inline;
}
.comma-separated-ul li:not(:last-child):after {
	content: ", ";
}
a.link-stealth:link {
	color:#e4e2e6 !important;
}
a.link-stealth:visited {
	color:#e4e2e6 !important;
}
a.link-stealth:hover {
	color:#8babe0 !important;
}
 .two-line-text {
    height: 2.6em; /* adjust the height to fit two lines */
    overflow: hidden;
    text-overflow: ellipsis; /* add "..." to indicate truncated text */
  }
.three-rows-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
}
.text-news {color:#5A8CFF;}
.text-custom-danger {color:#FF5449}
.text-custom-warning {color:#ED9742;}
.iconExtraClass {margin-top: .75rem !important;}
.custom-card {
  max-height: 800px;
  overflow-y: auto;
}
.custom-card::-webkit-scrollbar {
  width: 8px;
}
.custom-card::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.custom-card::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.custom-card-2 {
  max-height: 400px;
  overflow-y: auto;
}
.custom-card-2::-webkit-scrollbar {
  width: 8px;
}
.custom-card-2::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.custom-card-2::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.my-custom-tooltip {
    background-color: #23242b !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
.leaflet-popup-content-wrapper {
    background-color: #23242b !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
  .circle-with-txt {
        color: #000;
        font-size: 23px;
        line-height: 25px;
        text-align: center;
        vertical-align: bottom;
        box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
        border-radius: 30px;
        border-width: 3px;
        border: 2px solid #fff;
        opacity: .9;
  }
  .txt-for-circle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
.category-five { background-color: #ff00ff; } /* Bright Magenta */
.category-four { background-color: #ff4500; } /* OrangeRed */
.category-three { background-color: #ff8c00; } /* DarkOrange */
.category-two { background-color: #ffd700; } /* Gold */
.category-one { background-color: #ffff00; } /* Yellow */
.tropical-storm { background-color: #adff2f; } /* GreenYellow */
.tropical-depression { background-color: #00ffff; } /* Aqua */
.leaflet-popup-content-wrapper {
    background-color: #23242b !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
.leaflet-popup-tip { background-color: #23242b !important; }
.no-background {background-color:transparent !important;}
.no-action-required {background-color:#373b49;}
a.polyline-measure-controlOnBgColor, a.polyline-measure-controlOnBgColor:hover {
    background-color: #8f8;
}

.polyline-measure-unicode-icon {
    font-size: 19px;
    font-weight: bold;
}

a.polyline-measure-clearControl:active {
    background-color: #f88;
}

.polyline-measure-unicode-icon, .polyline-measure-clearControl, #unitControlId {
	cursor: pointer;
}

.polyline-measure-tooltip {
    font: 10px Arial, Helvetica, sans-serif;
    line-height: 10px;
    background-color: rgba(255, 255, 170, 0.7);
    border-radius: 3px;
    box-shadow: 1px 1px 4px #888;
    margin: 0;
    padding: 2px;
    width: auto !important;
    height: auto !important;
    white-space: nowrap;
    text-align: right;
}
.polyline-measure-tooltip-end {
    background-color: rgba(255, 255, 40, 0.7);
}
.polyline-measure-tooltip-total {
    color: #006;
    font-weight: bold;
}
.polyline-measure-tooltip-difference {
    color: #060;
    font-style: italic;
}
.polyline-measure-popupTooltip {
    font: 11px Arial, Helvetica, sans-serif;
    line-height: 11px;
}
.extra-marker{background:url("../img/markers_default.png") no-repeat 0 0;width:35px;height:46px;position:absolute;left:0;top:0;display:block;text-align:center}.extra-marker-shadow{background:url("../img/markers_shadow.png") no-repeat 0 0;width:36px;height:16px}@media (min--moz-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5),(min-resolution:1.5dppx){.extra-marker{background-image:url("../img/markers_default@2x.png");background-size:540px 184px}.extra-marker-shadow{background-image:url("../img/markers_shadow@2x.png");background-size:35px 16px}}.extra-marker.extra-marker-svg{background:none}.extra-marker.extra-marker-svg .svg-inline--fa,.extra-marker.extra-marker-svg i{position:absolute;left:0;width:35px}.extra-marker .svg-inline--fa,.extra-marker i{color:#fff;margin-top:7px;display:inline-block;font-size:14px}.extra-marker .svg-inline--fa{margin-top:10px;background:none}.extra-marker .svg-inline--fa,.extra-marker i.fa,.extra-marker i.fab,.extra-marker i.fas,.extra-marker i.far,.extra-marker i.fal{margin-top:10px}.extra-marker .svg-inline--fa.fa-2x,.extra-marker i.fa.fa-2x,.extra-marker i.fab.fa-2x,.extra-marker i.fas.fa-2x,.extra-marker i.far.fa-2x,.extra-marker i.fal.fa-2x{font-size:16px;margin-top:9px}.extra-marker .svg-inline--fa.fa-3x,.extra-marker i.fa.fa-3x,.extra-marker i.fab.fa-3x,.extra-marker i.fas.fa-3x,.extra-marker i.far.fa-3x,.extra-marker i.fal.fa-3x{font-size:18px;margin-top:9px}.extra-marker .svg-inline--fa.fa-4x,.extra-marker i.fa.fa-4x,.extra-marker i.fab.fa-4x,.extra-marker i.fas.fa-4x,.extra-marker i.far.fa-4x,.extra-marker i.fal.fa-4x{font-size:20px;margin-top:8px}.extra-marker .svg-inline--fa.fa-5x,.extra-marker i.fa.fa-5x,.extra-marker i.fab.fa-5x,.extra-marker i.fas.fa-5x,.extra-marker i.far.fa-5x,.extra-marker i.fal.fa-5x{font-size:24px;margin-top:6px}.extra-marker .fa-number:before{content:attr(number)}.extra-marker i.glyphicon{margin-top:10px}.extra-marker i.icon{margin-right:0;opacity:1}.extra-marker-circle-red{background-position:0 0}.extra-marker-circle-orange-dark{background-position:-36px 0}.extra-marker-circle-orange{background-position:-72px 0}.extra-marker-circle-yellow{background-position:-108px 0}.extra-marker-circle-blue-dark{background-position:-144px 0}.extra-marker-circle-blue{background-position:-180px 0}.extra-marker-circle-cyan{background-position:-216px 0}.extra-marker-circle-purple{background-position:-252px 0}.extra-marker-circle-violet{background-position:-288px 0}.extra-marker-circle-pink{background-position:-324px 0}.extra-marker-circle-green-dark{background-position:-360px 0}.extra-marker-circle-green{background-position:-396px 0}.extra-marker-circle-green-light{background-position:-432px 0}.extra-marker-circle-black{background-position:-468px 0}.extra-marker-circle-white{background-position:-504px 0}.extra-marker-square-red{background-position:0 -46px}.extra-marker-square-orange-dark{background-position:-36px -46px}.extra-marker-square-orange{background-position:-72px -46px}.extra-marker-square-yellow{background-position:-108px -46px}.extra-marker-square-blue-dark{background-position:-144px -46px}.extra-marker-square-blue{background-position:-180px -46px}.extra-marker-square-cyan{background-position:-216px -46px}.extra-marker-square-purple{background-position:-252px -46px}.extra-marker-square-violet{background-position:-288px -46px}.extra-marker-square-pink{background-position:-324px -46px}.extra-marker-square-green-dark{background-position:-360px -46px}.extra-marker-square-green{background-position:-396px -46px}.extra-marker-square-green-light{background-position:-432px -46px}.extra-marker-square-black{background-position:-468px -46px}.extra-marker-square-white{background-position:-504px -46px}.extra-marker-star-red{background-position:0 -92px}.extra-marker-star-orange-dark{background-position:-36px -92px}.extra-marker-star-orange{background-position:-72px -92px}.extra-marker-star-yellow{background-position:-108px -92px}.extra-marker-star-blue-dark{background-position:-144px -92px}.extra-marker-star-blue{background-position:-180px -92px}.extra-marker-star-cyan{background-position:-216px -92px}.extra-marker-star-purple{background-position:-252px -92px}.extra-marker-star-violet{background-position:-288px -92px}.extra-marker-star-pink{background-position:-324px -92px}.extra-marker-star-green-dark{background-position:-360px -92px}.extra-marker-star-green{background-position:-396px -92px}.extra-marker-star-green-light{background-position:-432px -92px}.extra-marker-star-black{background-position:-468px -92px}.extra-marker-star-white{background-position:-504px -92px}.extra-marker-penta-red{background-position:0 -138px}.extra-marker-penta-orange-dark{background-position:-36px -138px}.extra-marker-penta-orange{background-position:-72px -138px}.extra-marker-penta-yellow{background-position:-108px -138px}.extra-marker-penta-blue-dark{background-position:-144px -138px}.extra-marker-penta-blue{background-position:-180px -138px}.extra-marker-penta-cyan{background-position:-216px -138px}.extra-marker-penta-purple{background-position:-252px -138px}.extra-marker-penta-violet{background-position:-288px -138px}.extra-marker-penta-pink{background-position:-324px -138px}.extra-marker-penta-green-dark{background-position:-360px -138px}.extra-marker-penta-green{background-position:-396px -138px}.extra-marker-penta-green-light{background-position:-432px -138px}.extra-marker-penta-black{background-position:-468px -138px}.extra-marker-penta-white{background-position:-504px -138px}
.truncatedLink {
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
		.core-container div {
			padding: 8px;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		.core-container div:hover,
		.core-container div.clicked {
			background-color: #373b49;
		}
		.blur {
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);
		}
		#overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		.centered {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

/* Factal */
.factal-item {
	padding: 1rem;
	border-radius: 1.5rem;
	background-color: transparent;
	border: 1px solid rgb(255 255 255 / 12%);
	margin-bottom:0.5rem;
}
.factal-header {
	margin-bottom: 0.25rem;
	font-size: 1.25rem;
}

/* Whats New */
.whats-new-line-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whats-new-icon-col {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whats-new-trunk {
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 10px;
}
.whats-new-timestamp { white-space: nowrap; }
#whats-new {
	max-height: 350px;
	overflow-y: auto;
	padding-right:10px;
}
#whats-new::-webkit-scrollbar { width: 8px; }
#whats-new::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#whats-new::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.chart-container-whats-new {
	position:relative;
	width:100%;
	height:250px;
}

/* CMS Brief - COP */
.chart-container-cms-brief {
	position:relative;
	width:100%;
	height:300px;
}

/* CORE - COP */
.chart-container-core {
	position:relative;
	width:100%;
	height:250px;
}

/* Chart JS */
.chartJS-tooltip { max-width: 150px; }

/* Navbar */
.custom-navbar-text-color { color:#fbfbfb; }
a.opm-url {
	color:#000 !important;
	text-decoration: none !important;
	display:inline-block;
	max-width: 70ch;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
a.opm-url:hover { text-decoration: underline !important; }
#my-missions {
	background-color: #23242B !important;
	max-height: 300px;
	overflow-y: auto;
	padding-inline-start: 0px;"
 }
#my-missions, #my-missions li {
    list-style: none;
}
#my-missions::-webkit-scrollbar { width: 10px; }
#my-missions::-webkit-scrollbar-track { background: #555; }
#my-missions::-webkit-scrollbar-thumb { background-color: #888; }
#my-missions::-webkit-scrollbar-thumb:hover { background-color: #555; }
#my-missions {
    scrollbar-width: thin;
    scrollbar-color: #888 #404659;
}

/* Hurricane */
.hurricane-note {
	color:#FFF;
	background-color:transparent;
	border:1px solid #FF5449;
	border-radius:16px;
}
