@media print {
	body {
		zoom: 75%;
		background: var(--white) !important;
	}
	.text-light {
		color: var(--black) !important;
	}
	.pH {
		display: none !important;
	}
}
body {
	font-family: 'Inter', sans-serif !important;
	font-feature-settings: 'ss04' on;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: var(--on-background);
	background-color: var(--background) !important;
}
.row {
	--mdb-gutter-x: 0.5rem !important;
}
ul#swpc-alerts-affected-posts {
	list-style: none;
	padding-inline-start: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul#swpc-alerts-affected-posts li {
	display: inline;
}
ul#swpc-alerts-affected-posts li:not(:last-child):after {
	content: '; ';
}
ul#travel-advisories {
	list-style: none;
	padding-inline-start: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul#post-departures {
	list-style: none;
	padding-inline-start: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul#travel-advisories li {
	display: inline;
	padding-left: 10px;
}
ul#post-departures li {
	display: inline;
	padding-left: 10px;
}
ul#travel-advisories li:not(:last-child):after {
	content: ' ';
}
ul#post-departures li:not(:last-child):after {
	content: '; ';
}
ul#eacs-today,
#eacs-older,
#sitreps-today,
#sitreps-older,
#safe-alerts {
	list-style: none;
	padding-inline-start: 0px;
}
#eacs li {
	border-top: 1px solid var(--outline);
	padding: 3px 0px 3px 0px;
}
#safe-alerts li {
	border-top: 1px solid var(--outline);
	padding: 3px 0px 3px 0px;
}
#sitReps li {
	border-top: 1px solid var(--outline);
	padding: 3px 0px 3px 0px;
}
#preloader {
	background: var(--black);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.block-with-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.accordionHeaderColour {
	background-color: var(--surface-container-highest) !important;
}
.accordionBodyColour {
	background-color: var(--surface-container-high) !important;
}
.btn-custom {
	background-color: var(--surface-container-high) !important;
	border: 1px solid var(--outline) !important;
	color: var(--white) !important;
	margin-top: 0px !important;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
	background-color: var(--secondary-container) !important;
	border-color: 1px solid var(--secondary-container);
	color: var(--white) !important;
}
.navbar .nav-item .nav-link:hover {
	color: var(--primary) !important;
}
.navbar .nav-item .nav-link:focus {
	color: var(--white) !important;
}
.navbar-nav .nav-link.active {
	color: var(--primary) !important;
	font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: var(--white);
	border-color: var(--primary-50);
	background-color: var(--secondary-container);
}
.dropdown-menu {
	color: var(--white);
	background-color: var(--secondary-container);
}
.nav-pills .nav-link {
	--mdb-nav-pills-linked-border-radius: 0.5rem;
	--mdb-nav-pills-link-font-size: 14px;
	--mdb-nav-pills-link-padding-top: 6px;
	--mdb-nav-pills-link-padding-bottom: 6px;
	--mdb-nav-pills-link-padding-x: 16px;
	--mdb-nav-pills-margin: 0.125rem;
	text-transform: none;
}
.bgColour {
	background-color: var(--secondary-container) !important;
}
.gridjs-pagination {
	color: var(--white);
}
ul#agencies {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
#core-container ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
.dual-column-style ul {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style: none;
	padding-inline-start: 0px;
}
.fade-in-image {
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	-ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.leaflet-control-attribution {
	background: rgp(0, 0, 0 / 0%);
}
.single-line {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.line-item {
	display: flex;
	overflow: hidden;
	width: 100%;
}
.category {
	color: var(--on-background);
}
.trunk {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.timestamp {
	color: var(--on-background);
}
.card-header:first-child {
	border-radius: 1.5rem;
	border-bottom: 0;
	margin-top: 0.5rem;
}
.card-footer:last-child {
	border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.card {
	border-radius: 1.5rem;
	box-shadow: none;
}
.nav-tabs {
	margin-left: 0.125rem;
}
.containerBox {
	position: relative;
	display: inline-block;
	width: 500px;
}
.text-box {
	position: absolute;
	height: 100%;
	text-align: center;
	width: 100%;
}
.text-box:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.containerBox img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Semantic Variables */
[color-scheme='dark'] {
	:root {
		--primary: var(--primary-80);
		--on-primary: var(--primary-20);
		--primary-container: var(--primary-30);
		--on-primary-container: var(--primary-90);
		--secondary: var(--secondary-80);
		--on-secondary: var(--secondary-20);
		--secondary-container: var(--secondary-30);
		--on-secondary-container: var(--secondary-90);
		--error: var(--error-80);
		--on-error: var(--error-20);
		--error-container: var(--error-30);
		--on-error-container: var(--error-90);

		--background: var(--neutral-10);
		--surface: var(--neutral-6);
		--surface-container-lowest: var(--neutral-4);
		--surface-container-low: var(--neutral-10);
		--surface-container: var(--neutral-12);
		--surface-container-high: var(--neutral-17);
		--surface-container-highest: var(--neutral-22);
		--surface-dim: var(--neutral-6);
		--surface-bright: var(--neutral-24);

		--on-background: var(--neutral-90);
		--on-surface: var(--neutral-90);
		--on-surface-variant: var(--neutral-variant-80);
		--outline: var(--neutral-variant-60);
		--outline-variant: var(--neutral-variant-30);
	}
}

[color-scheme='light'] {
	:root {
		--primary: var(--primary-40);
		--on-primary: var(--primary-100);
		--primary-container: var(--primary-90);
		--on-primary-container: var(--primary-10);
		--secondary: var(--secondary-40);
		--on-secondary: var(--secondary-100);
		--secondary-container: var(--secondary-90);
		--on-secondary-container: var(--secondary-10);
		--error: var(--error-40);
		--on-error: var(--error-100);
		--error-container: var(--error-90);
		--on-error-container: var(--error-10);

		--background: var(--neutral-99);
		--surface: var(--neutral-98);
		--surface-container-lowest: var(--neutral-100);
		--surface-container-low: var(--neutral-96);
		--surface-container: var(--neutral-94);
		--surface-container-high: var(--neutral-92);
		--surface-container-highest: var(--neutral-90);
		--surface-dim: var(--neutral-87);
		--surface-bright: var(--neutral-98);

		--on-background: var(--neutral-10);
		--on-surface: var(--neutral-10);
		--on-surface-variant: var(--neutral-variant-30);
		--outline: var(--neutral-variant-50);
		--outline-variant: var(--neutral-variant-80);
	}
}

/* Primative Variables */
:root {
	--black: #000000;
	--white: #ffffff;

	--primary-0: #000000;
	--primary-4: #000c2c;
	--primary-5: #000f31;
	--primary-6: #001136;
	--primary-10: #001847;
	--primary-12: #001c4f;
	--primary-15: #00225c;
	--primary-17: #002665;
	--primary-20: #002c72;
	--primary-22: #00307b;
	--primary-24: #003484;
	--primary-25: #003688;
	--primary-30: #0040a0;
	--primary-35: #004bb8;
	--primary-40: #0156d0;
	--primary-50: #3471eb;
	--primary-60: #5a8cff;
	--primary-70: #88a9ff;
	--primary-80: #b1c5ff;
	--primary-87: #ced9ff;
	--primary-90: #dae2ff;
	--primary-92: #e2e7ff;
	--primary-94: #eaedff;
	--primary-95: #eef0ff;
	--primary-96: #f2f3ff;
	--primary-98: #faf8ff;
	--primary-99: #fefbff;
	--primary-100: #ffffff;

	--secondary-0: #000000;
	--secondary-4: #070e1e;
	--secondary-5: #0a1021;
	--secondary-6: #0c1323;
	--secondary-10: #151b2c;
	--secondary-12: #191f30;
	--secondary-15: #1f2536;
	--secondary-17: #232a3b;
	--secondary-20: #2a3042;
	--secondary-22: #2e3446;
	--secondary-24: #33394b;
	--secondary-25: #353b4d;
	--secondary-30: #404659;
	--secondary-35: #4c5265;
	--secondary-40: #585e71;
	--secondary-50: #71778b;
	--secondary-60: #8a90a5;
	--secondary-70: #a5abc1;
	--secondary-80: #c0c6dd;
	--secondary-87: #d4d9f0;
	--secondary-90: #dce2f9;
	--secondary-92: #e2e7ff;
	--secondary-94: #eaedff;
	--secondary-95: #eef0ff;
	--secondary-96: #f2f3ff;
	--secondary-98: #faf8ff;
	--secondary-99: #fefbff;
	--secondary-100: #ffffff;

	--neutral-0: #000000;
	--neutral-4: #0d0e11;
	--neutral-5: #101114;
	--neutral-6: #131316;
	--neutral-10: #1b1b1f;
	--neutral-12: #1f1f23;
	--neutral-15: #252629;
	--neutral-17: #292a2d;
	--neutral-20: #303034;
	--neutral-22: #343438;
	--neutral-24: #39393c;
	--neutral-25: #3b3b3f;
	--neutral-30: #46464a;
	--neutral-35: #525256;
	--neutral-40: #5e5e62;
	--neutral-50: #77777a;
	--neutral-60: #919094;
	--neutral-70: #acaaaf;
	--neutral-80: #c7c6ca;
	--neutral-87: #dbd9dd;
	--neutral-90: #e4e2e6;
	--neutral-92: #e9e7ec;
	--neutral-94: #efedf1;
	--neutral-95: #f2f0f4;
	--neutral-96: #f5f3f7;
	--neutral-98: #fbf8fd;
	--neutral-99: #fefbff;
	--neutral-100: #ffffff;

	--neutral-variant-0: #000000;
	--neutral-variant-4: #0c0e15;
	--neutral-variant-5: #0e1118;
	--neutral-variant-6: #11131a;
	--neutral-variant-10: #191b23;
	--neutral-variant-12: #1d1f27;
	--neutral-variant-15: #23262d;
	--neutral-variant-17: #282a31;
	--neutral-variant-20: #2e3038;
	--neutral-variant-22: #32343c;
	--neutral-variant-24: #373941;
	--neutral-variant-25: #393b43;
	--neutral-variant-30: #44464f;
	--neutral-variant-35: #50525a;
	--neutral-variant-40: #5c5e67;
	--neutral-variant-50: #757780;
	--neutral-variant-60: #8f9099;
	--neutral-variant-70: #aaabb4;
	--neutral-variant-80: #c5c6d0;
	--neutral-variant-87: #d9d9e3;
	--neutral-variant-90: #e1e2ec;
	--neutral-variant-92: #e7e7f2;
	--neutral-variant-94: #ededf7;
	--neutral-variant-95: #f0f0fa;
	--neutral-variant-96: #f3f3fd;
	--neutral-variant-98: #faf8ff;
	--neutral-variant-99: #fefbff;
	--neutral-variant-100: #ffffff;

	--error-0: #000000;
	--error-4: #280001;
	--error-5: #2d0001;
	--error-6: #310001;
	--error-10: #410002;
	--error-12: #490002;
	--error-15: #540003;
	--error-17: #5c0004;
	--error-20: #690005;
	--error-22: #710005;
	--error-24: #790006;
	--error-25: #7e0007;
	--error-30: #93000a;
	--error-35: #a80710;
	--error-40: #ba1a1a;
	--error-50: #de3730;
	--error-60: #ff5449;
	--error-70: #ff897d;
	--error-80: #ffb4ab;
	--error-87: #ffcfc9;
	--error-90: #ffdad6;
	--error-92: #ffe2de;
	--error-94: #ffe9e6;
	--error-95: #ffedea;
	--error-96: #fff0ee;
	--error-98: #fff8f7;
	--error-99: #fffbff;
	--error-100: #ffffff;
}